.faq-box{
    box-shadow: -5px 5px black;
    padding: 10px;
    font-weight: 600;
    text-align: center;
}
.faq-caption{
    width: 550px;
}
.faq-text{
    max-width: 800px;
}

@media screen and (max-width:600px) {
    .faq-caption{
        width:100% !important;
    }
}